/* ############################################################ */
/* #                       MOBILE STYLES                      # */
/* ############################################################ */

/* Basic Reset */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f3f2;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* ################################### */
/* #              NAVBAR             # */
/* ################################### */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #797776;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .brand-title {
  margin: 0.5rem;
  margin-left: 1rem;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 2.5em;
  text-decoration: none;
}

.navbar-links {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #797776;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-links li {
  list-style: none;
  text-align: center;
}

.navbar-links li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0.75rem 1rem;
  display: block;
  font-size: 1.35rem;
}

.navbar-links li a:hover {
  color: rgb(114, 114, 114);
}

.navbar-links.active {
  max-height: 260px;
}

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
  cursor: pointer;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  position: relative;
  transition: transform 0.2s ease;
}

/* Transform to X */
.toggle-button.active .bar:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: center;
}

.toggle-button.active .bar:nth-child(2) {
  opacity: 0;
}

.toggle-button.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: center;
}

/* Instantly revert to bars */
.toggle-button:not(.active) .bar {
  transition: transform 0s ease;
}

@media (min-width: 921px) {
  .toggle-button {
    display: none;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }

  .spacer {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 15rem;
  }

  .navbar-links {
    display: flex;
    max-height: none;
    width: auto;
    background-color: #797776;
  }

  .navbar-links ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar-links li {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
  }

  .navbar-links li a {
    padding: 1rem;
  }
}

/* ################################### */
/* #              HERO               # */
/* ################################### */

.hero {
  margin-top: 4rem;
  width: 100%;
  height: 75vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: white;
  color: rgb(0, 0, 0);

  text-align: center;
  font-size: 2.5em;
}

.hero h2 {
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
}

.hero h1 {
  font-size: 4em;
  font-family: "Roboto", sans-serif;
}

.hero p {
  font-size: 3em;
  margin-bottom: 0.25em;
  font-family: "Rubik", sans-serif;
}

.hero-links {
}

.hero-links a:nth-child(1) {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #0077b5;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2.5em;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-links a:nth-child(1):hover {
  background-color: #005582;
  transform: scale(1.05);
}

.hero-links a:nth-child(2) {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2.5em;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-links a:nth-child(2):hover {
  background-color: #444;
  transform: scale(1.05);
}

.hero-links a:nth-child(3) {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #2c8029;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2.5em;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-links a:nth-child(3):hover {
  background-color: #218838;
  transform: scale(1.05);
}

/* ################################### */
/* #              Skills             # */
/* ################################### */

.skills-section {
  text-align: center;
  font-size: 3em;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
